.size
{
    display: flex;
    justify-content: center;
    gap:10px;
}
.button
{
    border-radius: 50px;
    border-color: aliceblue;
}

.input{
    size: 50px;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .major-mono-display-regular {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
  }
  .style-script-regular {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .gradient{
    background-image: radial-gradient(circle, #053733, #006054, #008c74, #00bb91, #12ebaa);  
}
  .white
  {
    color: aliceblue;
  }
  .font
  {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }
  .image{
    width: 30px;
    height: 30px;
  }
  .logo{
   display: inline-block;
    padding: 4px;
  }
  .name
  {
    padding-left: 10px;
    color: black;
    font-size:50px;
  }